.radios{
	padding-top: 18px;
	padding-bottom: 28px;
	&__title{
		margin-bottom: 23px;
	}
	&__part{
		text-align: left;
		font-weight: 900;
		margin-bottom: 13px;
		font-size: 18px;
		&:last-child{
			margin-bottom: 0;
		}
	}
}

@include apply-to($tablet){
	.radios{
		padding-bottom: 54px;
		&__title{
			text-align: left;
			margin-bottom: 60px;
		}
		&__part{
			margin-bottom: 21px;
		}
	}
}

@include apply-to($desktop){
	.radios{
		padding-bottom: 50px;
		&__title{
			text-align: center;
			position: relative;
			left: -25px;
		}
	}
}