@import url('https://fonts.googleapis.com/css?family=PT+Sans:400,700&subset=cyrillic');


*,*:after,*:before{
	box-sizing: border-box;
}

body,html{
	height: 100%;
	font-size: 100%;
	font-family: 'PT Sans', sans-serif;
	background-color: #f2f2f2;
}

::selection{
	background-color: $colorMain;
	color: $colorLight;
}

.wrapper{
	max-width: 1200px;
	margin: 0 auto;
	box-shadow: 0px 0px 15px 0px rgba(0,0,0,0.2);
}

.container{
	width: 100%;
	margin: 0 auto;
	max-width: 280px;
	position: relative;
	@include apply-to($tablet){
		max-width: 648px;
	}
	@include apply-to($desktop){
		max-width: 1200px;
	}
}

.container--inner{
	width: 100%;
	margin: 0 auto;
	max-width: 280px;
	@include apply-to($tablet){
		max-width: 668px;
	}
	@include apply-to($desktop){
		max-width: 1200px;
	}
}