extends ../_template
block variables
	-	pageTitle = 'Главная'
	- page = 'home'
block content
	header.header
		include ../modules/_top-menu
		.header__content
			img.header__text(src='../img/header-text.svg')
	.content
		include ../blocks/_s-entry
	include ../blocks/_footer
