extends ../_template
block variables
	-	pageTitle = 'Фото'
	- page = 'photo'
block content
	header.header
		include ../modules/_top-menu
		.header__content
			+svg('sedona','header__text')
	.content
		include ../blocks/_s-photo
	include ../blocks/_footer