footer.footer
	.container
		.footer__part
			.footer__text #VISITSEDONA
		.footer__part
			.social.footer__social
				ul.social__list
					li.social__item
						a(href='#' title='twitter').social__link
							+svg('twitter','social__ico i-twitter')
					li.social__item
						a(href='#' title='facebook').social__link
							+svg('facebook','social__ico i-facebook')
					li.social__item
						a(href='#' title='YouTube').social__link
							+svg('youtube','social__ico i-youtube')
		.footer__part
			a(href="https://htmlacademy.ru/" target="_blank" title='HTML ACADEMY').copyright.social__copiright
				span.copyright__text Разработано
				+svg('htmlacademy','copyright__ico i-htmlacademy')
