section.s-entry
	.container.s-entry__container
		h1.title.s-entry__title
			|СЕДОНА — небольшой городок в АРИЗОНЕ, 
			br
			|заслуживающий большего!
		p.text.s-entry__text.
			Рассмотрим 5 причин, по которым Седона круче чем гранд каньон!
	