section.s-entry
	.container.s-entry__container
		h1.title.s-entry__title
			|СЕДОНА — небольшой городок в АРИЗОНЕ, 
			br
			|заслуживающий большего!
		p.text.s-entry__text.
			Рассмотрим 5 причин, по которым Седона круче чем гранд каньон!
	svg.triangle.s-entry__triangle(version='1.1' xml:space='preserve', viewbox='0 0 100 160', preserveaspectratio='none')
			polygon(points='0,0 50.1,160 50.1,220 0,220 0,160')
			polygon(points='49.9,160 100,0 100,160 100,220 49.9,220')