section.s-map
	.container.s-map__container
		h4.title.s-map__title Заинтересовались?
		p.text.s-map__text
			|Укажите предполагаемые даты поездки
			br.s-map__devider
			|и мы покажем вам лучшие предложения гостиниц в седоне
		.button.s-map__button
			a.button__text(href='#' title='Найти гостиницу') Найти гостиницу
	.map.s-map__map#map