.header{
	position: relative;
	&:after{
		content: '';
		display: block;
		width: 100%;
		position: absolute;
		bottom: -2px;
		height: 60px;
		background: url("../img/angle.svg") no-repeat;
		background-size: auto 96%;
		background-position: center;
	}
	&__content{
		position: relative;
		background: url("../img/header-desktop.jpg") no-repeat;
		background-position: center -300px;
		height: 158px;
	}
	&__text{
		@include center();
		top: 45%;
		display: block;
		fill: $colorLight;
		max-width: 227px;
	}
}

#home{
	.header__content{
		height: 389px;
		background-position: center top;
	}
	.header__text{
		top: 51%;
		max-width: 280px;
	}
}

@include apply-to($tablet){
	.header__content{
		height: 290px;
		background-position: center bottom;
	}
	.header__text{
		top: 46%;
		max-width: 460px;
		width: 100%;
	}

	#home{
		.header__content{
			height: 518px;
		}
		.header__text{
			top: 49%;
			max-width: 460px;
		}
	}
}


@include apply-to($desktop){
	.header__content{
		background-size: cover;
	}
	.header:after{
		background-size: 100%;
	}

	.header__content{
		height: 300px;
	}
	.header__text{
		top: 47%;
	}

	#home{
		.header__content{
			background-size: cover;
		}
		.header:after{
			background-size: 100%;
		}
	}
}