.s-photo{
	text-align: center;
	background-color: $colorLight;
	
	&__container{

	}
	&__title{
		margin-bottom: 29px;
	}
	&__text{
		@extend %reset;
		text-transform: uppercase;
		line-height: em(27px);
		margin-bottom: 28px;
	}
	&__photos{
		border-top: 1px solid #e5e5e5;
		@include clear();
		text-align: left;
	}
	&__part{
		border-bottom: 1px solid #e5e5e5;
		padding: 22px 0;
	}
	&__text-devider{
		&:nth-child(1){
			display: none;
		}
		&:nth-child(2){
			display: block;
		}
	}
}

@include apply-to($tablet){
	.s-photo{
		padding-top: 67px;
		&__title{
			font-size: 30px;
		}
		&__text-devider{
			&:nth-child(1){
				display: block;
			}
			&:nth-child(2){
				display: none;
			}
		}
		&__text{
			margin-bottom: 67px;
		}
		&__photos{
			border-top: none;
			max-width: 648px;
			margin: 0 auto;
			font-size: 0;
		}
		&__part{
			border: none;
			padding: 0;
			max-width: 50%;
			width: 100%;
			display: inline-block;
			vertical-align: middle;
		}
	}
	.s-photo--best{
		max-width: 100%;
		width: 100%;
		.card-photo__img-wrap{
			max-height: 100%;
		}
		.card-photo__like{
			right: 21px;
			top: 47%;
		}
		.card-photo__like-ico{
			margin-right: 5px;
		}
	}
}

@include apply-to($desktop){
	.s-photo{
		padding-top: 105px;
		&__text{
			margin-bottom: 70px;
		}
		&__photos{
			max-width: 100%;
		}
		&__part{
			max-width: 33.33333333333333%;
		}
	}
	.s-photo--best{
		max-width: 100%;
	}
}