.sandwich.top-menu__sandwich
	.sandwich__line
nav.menu
	ul.menu__list
		li.menu__item
			a(href='' title='Главная').menu__link Главная
		li.menu__item
			a(href='#' title='Фото и Видео').menu__link Фото и Видео
		li.menu__item
			a(href='' title='Форма отзвыва').menu__link Форма отзыва
		li.menu__item
			a(href='#' title='HTML Academy').menu__link HTML Academy
.top-menu
	figure.logo
		picture.logo__container
			source(media='(min-width: ' + desktop + ')' srcset='./img/logo-desktop.svg')
			source(media='(min-width: ' + tablet + ')' srcset='./img/logo-tablet.svg')
			img.logo__img(src='./img/logo-mobile.svg')
