.sandwich.top-menu__sandwich
	.sandwich__line
nav.menu
	ul.menu__list
		li.menu__item.menu__item--active
			a(href='/' title='Главная').menu__link Главная
		li.menu__item
			a(href='photo.html' title='Фото и Видео').menu__link Фото и Видео
		li.menu__item
			a(href='form.html' title='Форма отзвыва').menu__link Форма отзыва
		li.menu__item
			a(href='https://htmlacademy.ru/' title='HTML Academy' target="_blank").menu__link HTML Academy
.top-menu
		figure.logo
			a(href='/' title='Главная').logo__link
				picture.logo__container
					source(media='(min-width: ' + desktop + ')' srcset='./img/logo-desktop.svg')
					source(media='(min-width: ' + tablet + ')' srcset='./img/logo-tablet.svg')
					img.logo__img(src='./img/logo-mobile.svg')
