.i-twitter{
	width: 18px;
	height: 14px;
}

.i-facebook{
	width: 9px;
	height: 18px;
}

.i-youtube{
	width: 20px;
	height: 14px;
}

.i-htmlacademy{
	width: 27px;
	height: 34px;
}

.i-house{
	width: 39px;
	height: 37px;
}

.i-gift{
	width: 32px;
	height: 38px;
}

.i-burger{
	width: 40px;
	height: 35px;
}