.menu{

	// var

	$border-bottom-color: darken(desaturate(adjust-hue($colorMain, 0.1140), 20.1718), 13.3333);
	$border-top-color: lighten(saturate(adjust-hue($colorMain, 0.1140), 0.0768), 6.6667);

	width: 100%;
	@include clear();
	color: $colorLight;
	font-size: 18px;
	text-align: center;
	background-color: $colorMain;
	box-shadow: inset 0 -10px 10px -10px rgba($colorBase,.4);
	display: none;
	&__list{
		@extend %reset;
		width: 100%;
		text-transform: uppercase;
		@include clear();
	}
	&__item{
		@extend %reset;
		border-bottom: 1px solid $border-bottom-color;
		border-top: 1px solid $border-top-color;
	}
	&__link{
		@extend %reset;
		display: inline-block;
		font-weight: 900;
		padding: 17px 0;
		
	}
}



.menu--active{
	display: block;
}

@include apply-to($tablet){
	.menu{
		display: block;
		background-color: transparent;
		box-shadow: none;
		color: $colorBase;
		position: absolute;
		z-index: 10;
		
		&__list{
			font-size: 0;
			text-align: left;
		}
		&__item{
			border: none;
			display: inline-block;
			@include col(2.4);
			padding: 20px 0;
			font-size: 14px;
			float: none;
			display: inline-block;
			text-align: center;
			&:nth-child(3){
				@include pull(2.4);
			}
			&:nth-child(4){
				@include pull(2.4);
			}
			&:nth-child(n+5){
				@include col(3);
				text-align: center;
			}
		}
		&__link{
			padding: 0;
		}
	}
}

@include apply-to($desktop){
	.menu{
		max-width: 1200px;
		margin: 0 auto;
		left: 0;
		right: 0;
	}
}